.favorites_position {
  margin-top: 100px;
}

.title {
  text-align: center;
  font-size: 35px;
  margin-left: 250px;
}

.favorites_container {
  width: 575px;
  height: 300px;
  margin-top: 25px;
  margin-left: 250px;
}

.favorite {
  background-color: var(--favorites);
  color: var(--primary);
  margin: 5px;
}