.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 225px;
  margin-bottom: 10px;
  padding-top: 15px;
}

.search_bar {
  background-color: var(--secondary);
  color: var(--gray);
  width: 225px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  border: none;
  border-radius: 0 20px 20px 0;
}

.search_icon {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 20px 0 0 20px;
}

.search_button {
  background-color: var(--tertiary);
  color: var(--primary);
  width: 75px; 
  margin-left: 15px;
  border: none;
}

.songs_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  /* margin-top: 5px; */
  margin-left: 15%;
  padding-top: 15px;
  padding-bottom: 50px;
  gap: 30px;
}

::placeholder {
  text-align: center;
  opacity: 0.3;
}

input[type="text"] {
  color: var(--white);
}

input:focus {
  outline: none;
}