.title {
  text-align: center;
  margin-top: 25px;
  margin-left: 250px;
  font-size: 50px;
}

.profile_button_container {
  display: flex;
  justify-content: space-around;  
  align-items: center;
  margin-top: 50px;  
  margin-left: 225px;
}

.profile_button {
  background-color: var(--tertiary);
  border: white 5px double;
  padding: 25px;
}
