.main {
	margin-left: 225px;
}

.form {
  background-color: var(--primary);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 15px;
	border: 1px solid #f0f0f0;
	border-radius: 30px;
	box-shadow: 5px 5px 20px #171717;
}

.form_input {
  background-color: var(--secondary);
	color: #f0f0f0;
  text-align: center;
  padding: 15px;
	border: 1px solid var(--white);
  border-radius: 25px;
}

::placeholder {
  color: var(--white);
}

.form_btn {
	color:var(--white);
	background: transparent;
	margin-top: 5px;
	padding: 10px 50px;
	border: 1px solid var(--tertiary);
	border-radius: 50px;
	transition: .5s;
}

.form_btn:hover {
	background-color: var(--tertiary);
	transform: translateY(-3px);
}

.auth_form {
	width: 300px;
	height: 300px;
}

.auth_msg {
	margin-bottom: 15px;
}