.card {
  width: 200px;
  height: 200px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;
  padding-bottom: 25px;
  margin-top: 15px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
}

.song_image {
  width: 200px;
  height: 125px;
}

.song_text {
  font-size: small;
  font-weight: 400;
  text-align: center;
}

.song_button {
  background-color: var(--tertiary);
  margin-top: 15px;
  padding: 5px;
  border: none;
}