.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 50px;
  margin-left: 225px;
}

.search_bar {
  background-color: var(--secondary);
  color: var(--gray);
  width: 225px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 5px;
}

.search_icon {
  background-color: var(--secondary);
  border-radius: 20px 0 0 20px;
  padding: 10px;
}

.songs_container {
  display: flex;
  flex-direction: row;
  overflow: scroll hidden;
  width: 70%;
  height: 175px;
  margin-left: 25%;
  gap: 20px;
}

::placeholder {
  text-align: center;
  opacity: 0.3;
}

input[type="text"] {
  color: white;
}

input:focus {
  outline: none;
}

.search_button {
  background-color: var(--tertiary);
  color: var(--primary);
  border: white 3px solid;
  margin-left: 15px
}