.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 25px;
  margin-left: 225px;
}

.search_bar {
  background-color: var(--secondary);
  color: var(--gray);
  width: 225px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 5px;
}

.search_icon {
  background-color: var(--secondary);
  border-radius: 20px 0 0 20px;
  padding: 10px;
}
.search_button {
  width: 75px; 
}

.songs_container {
  /* border: 1px solid green; */
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 30%;
  padding-top: 15px;
  padding-bottom: 75px;
  gap: 20px;
}

::placeholder {
  text-align: center;
  opacity: 0.3;
}

input[type="text"] {
  color: white;
}

input:focus {
  outline: none;
}

.search_button {
  background-color: var(--tertiary);
  color: var(--primary);
  border: none;
  margin-left: 15px
}