.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* header */

.header {
	height: 80px;
	background-color: var(--primary);
	color: #f0f0f0;
	padding: 0 10px;
}

.logo {
	height: 50px;
	margin-right: 10px;
}

.main_nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.main_nav li {
	padding: 0 10px;
	list-style: none;
}

.logout_btn {
	color: #f0f0f0;
	text-decoration: none;
	transition: .3s;
	font-size: 1rem;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

.logout_btn:hover {
	color: var(--tertiary);
}