.title {
  text-align: center;
  font-size: 35px;
  margin-top: 75px;
  margin-left: 250px;
}

.profile_button_container {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin-top: 25px;  
  margin-left: 225px;
  gap: 15px;
}

.profile_button {
  background-color: var(--tertiary);
  color: var(--primary);
  width: 175px;
  font-size: 15px;
  padding: 10px;
  border: none;
}