.profile_position {
  margin: 100px;
  margin-left: 75px
}

.title {
  text-align: center;
  font-size: 35px;
  margin-left: 250px;
}

.profile_button_container {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin-top: 25px;  
  margin-left: 225px;
  gap: 15px;
}

.profile_button {
  background-color: var(--tertiary);
  color: var(--primary);
  width: 200px;
  font-size: 15px;
  padding: 10px;
  border: none;
}

.profile_button:active {
	transform: translateY(10px);
}