.home_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin-left: 200px;
}

.home_text_background {
  background-color: var(--tertiary);
  padding: 25px;
  border-radius: 50px;
}

.home_text main {
  margin-top: 225px;
}

.home_text summary {
  font-size: 35px;
  margin-top: 50px;
}

.home_text p {
  font-size: 20px;
  margin-top: 50px;
}