.lyrics_position {
  margin: 100px;
  margin-left: 75px;
}

.title {
  text-align: center;
  font-size: 35px;
  margin-left: 250px;
}

.lyric_form {
  margin-top: 15px;
  margin-left: 450px;
}

.lyric_input {
  background-color: var(--secondary);
  color: var(--gray);
  text-align: center;
  width: 225px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.lyric_button {
  background-color: var(--tertiary);
  color: var(--primary);
  width: 75px;
  padding: 10px;
  border: none;
}

.lyrics_card {
  width: 700px;
  height: 550px;
  margin-left: 200px;
  margin-bottom: 500px;
  padding-bottom: 250px;
}

.card_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  gap: 35px;
}

.thumbnail {
  width: 200px;
  height: 200px;
}

.title_author h2 {
  margin-bottom: 25px;
}

.card_body {
  margin-left: 50px;
}

.card_body p {
  margin-bottom: 50px;
}