.sidebar {
  /* background-color: maroon; */
  /* height: 50px;
  width: 100%; */
  background: var(--secondary);
  position: fixed;
  top: 80px;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.sidebar_contents {
  display: flex;
  flex-direction: column;
  padding: 75px;
  list-style-type: none;
}

.sidebar_links {
  margin-bottom: 50px;
}