.title {
  text-align: center;
  font-size: 35px;
  margin-top: 25px;
  margin-left: 250px;
}

.playlist_button {
  background-color: var(--gray);
  color: var(--white);
  text-align: center;
  width: 175px;
  font-size: 15px;
  margin-top: 25px;
  margin-left: 625px;
  padding: 10px;
}

.playlists_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 550px;
  height: 300px;
  margin-top: 25px;
  margin-left: 425px;
}

.playlists {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  text-align: center;
  margin-right: 50px;
}