/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --primary: #1B4D3E;
  --secondary: #006A4E;
  --tertiary: #1CAC78;
  --gray: #696969;
	--favorites: #C5C5C5;
	--white: #fff;
	--black: #000
}

*, h1, h2, h3, a, p, button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
	color: var(--tertiary);
	font-size: 1.25;
	font-style: italic;
	padding: 10px 0;	
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-size: 1rem;
	transition: .3s;
}

a:hover {
	color: var(--tertiary);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
}

button {
	border: none;
	border-radius: 50px;
}